@media screen and (max-width: 768px) {
  @font-face {
    font-family: "Rubik", sans-serif;
    src: url("fonts2/Rubik-Regular.ttf");
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
  }
  :root {
    --btn-landing-color: inset 0px 6px 56px 44px rgb(36 114 99 / 56%);
  }
  body {
    display: flex;
    flex-direction: column;
  }
  main {
    min-height: 100vh;
    background: var(--my-gradient);
    background-size: 360%;
    animation: bg-gradient-moving 5000ms ease-in-out alternate infinite;
  }
  @keyframes bg-gradient-moving {
    0% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
  }
  .titre {
    z-index: 3;
    position: absolute;
    top: 26%;
    font-size: 6vw;
    padding-inline: 4vw;
    animation: fadeIn-and-grow 2500ms ease-in forwards;
    scale: 0;
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeIn-and-grow {
    0% {
      opacity: 0;
      scale: 0;
    }
    20% {
      opacity: 0.2;
      scale: 0.2;
    }
    60% {
      opacity: 0.6;
      scale: 0.6;
    }
    100% {
      opacity: 1;
      scale: 1;
    }
  }
  .btn_buffer {
    width: 10%;
  }
  #samemood {
    position: relative;
    height: 33.3vw;
    left: 33.3vw;
    width: 33.3vw;
    border-radius: 22%;
    -webkit-box-shadow: inset 2px 2px 33px 20px rgba(0, 0, 0, 0.57);
    z-index: 2;
    transition: transform 250ms ease-in-out;
    scale: 0.6;
    border: 2px grey solid;
  }
  #samemood:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  .btn_container {
    position: absolute;
    bottom: 0rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .friend_photo {
    background-image: url();
    background-size: contain;
    /*object-fit: cover;
    object-position: center center;*/
    display: none;
    animation: fade-in 1500ms ease-in-out forwards;
  }
  .friend_name {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    display: block;
    background: whitesmoke;
    width: 54vw;
    display: none;
    animation: fade-in 260ms ease-in 5 alternate forwards;
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  .speech_bubble {
    height: auto;
    font-family: "Rubik", sans-serif;
    line-height: 35px;
    text-align: center;
    color: #000;
    padding-inline: 2px;
    background-color: white;
    font-size: 1.15rem;
    position: relative;
    right: -54vw;
    width: 46vw;
    border-radius: 5px;
    margin-right: 33px;
    max-height: 150px;
  }
  .speech_bubble::after {
    --adequate-color: transparent;
  }
  .speech_bubble::after {
    position: absolute;
    content: "";
    left: -63px;
    left: 50%;
    z-index: -1;
    width: 0;
    height: 0;
    border-width: 38px;
    border-style: solid;
    border-left-color: var(--adequate-color);
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
  /*let id  = "content";

  let styles = { 
    '': '',
    '': '',
    '': '',
    '': ''
  };

  let elementStyle = document.getElementById(id).style;
  for(let styleName in styles) {
    elementStyle[styleName] = styles[styleName];
  }*/
  /*you can create a function for all this

  <button type="button" onclick="myFunc('id1')"> Click Me! </button>
  in js

  function myFunc(id){
      let myDiv = document.getElementById(id);
      myDiv.style.color = 'red';
      myDiv.style.backgroundColor = "beige"; 
      myDiv.style.paddingBottom = "2px";
      myDiv.style.margin = "3px";
  }*/
}

/*# sourceMappingURL=styles.css.map */
