@media screen and (max-width: 768px) {
  @font-face {
    font-family: "Rubik", sans-serif;
    src: url("fonts2/Rubik-Regular.ttf");
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
  }
  :root {
    --btn-landing-color: inset 0px 6px 56px 44px rgb(36 114 99 / 56%);
  }
  body {
    display: flex;
    flex-direction: column;
    background-color: #63e68f;
  }
  /**/
  main {
    min-height: 100vh;
    background: var(--my-gradient);
    background-size: 360%;
    animation: bg-gradient-moving 1000ms ease-in-out alternate infinite;
  }
  @keyframes bg-gradient-moving {
    0% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
  }
  .container_titre {
    width: calc(100vw - 3em);
    text-align: center;
  }
  .titre {
    z-index: 3;
    position: absolute;
    top: 26%;
    color: beige;
    padding-inline: 4vw;
    animation: fadeIn-and-grow 2500ms ease-in forwards;
    scale: 0;
    text-shadow: 0px -2px 15px #010303, 5px -3px 2px rgb(0, 152, 255);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: clamp(1rem, 4.5vw, 3rem);
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeIn-and-grow {
    0% {
      opacity: 0;
      scale: 0;
    }
    20% {
      opacity: 0.2;
      scale: 0.2;
    }
    60% {
      opacity: 0.6;
      scale: 0.6;
    }
    100% {
      opacity: 1;
      scale: 1;
    }
  }
  #samemood {
    position: relative;
    height: 33.3vw;
    background-color: #35ffff;
    width: 33.3vw;
    border-radius: 0%;
    box-shadow: 5px 1px 30px 12px hsla(0deg, 0%, 0%, 0.25);
    z-index: 2;
    transition: background-color 2000ms ease-out;
    scale: 0.4;
    border: none;
    perspective: 2000px;
    transform: rotate(0);
    transition: 800ms ease-in-out;
  }
  #samemood:hover {
    cursor: pointer;
    background-color: #ffffff;
    transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
    transform-style: preserve-3d;
    box-shadow: 0px 0px 10px 20px hsla(0deg, 0%, 100%, 0.85);
    scale: 0.45;
    border-radius: 50%;
  }
  .btn_container {
    position: absolute;
    bottom: 0rem;
    width: 100vw;
    display: grid;
    place-content: center;
  }
  .friend_photo {
    background-image: url();
    background-size: contain;
    /*object-fit: cover;
    object-position: center center;*/
    display: none;
    animation: fade-in 1500ms ease-in-out forwards;
  }
  .friend_name {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    display: block;
    background: whitesmoke;
    width: 54vw;
    display: none;
    animation: fade-in 260ms ease-in 5 alternate forwards;
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  .speech_bubble {
    height: auto;
    font-family: "Rubik", sans-serif;
    line-height: 35px;
    text-align: center;
    color: #000;
    padding-inline: 2px;
    background-color: white;
    font-size: 1.15rem;
    position: relative;
    right: -54vw;
    width: 46vw;
    border-radius: 5px;
    margin-right: 33px;
    max-height: 150px;
  }
  .speech_bubble::after {
    --adequate-color: transparent;
  }
  .speech_bubble::after {
    position: absolute;
    content: "";
    left: -63px;
    left: 50%;
    z-index: -1;
    width: 0;
    height: 0;
    border-width: 38px;
    border-style: solid;
    border-left-color: var(--adequate-color);
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
  /*let id  = "content";

  let styles = { 
    '': '',
    '': '',
    '': '',
    '': ''
  };

  let elementStyle = document.getElementById(id).style;
  for(let styleName in styles) {
    elementStyle[styleName] = styles[styleName];
  }*/
  /*you can create a function for all this

  <button type="button" onclick="myFunc('id1')"> Click Me! </button>
  in js

  function myFunc(id){
      let myDiv = document.getElementById(id);
      myDiv.style.color = 'red';
      myDiv.style.backgroundColor = "beige"; 
      myDiv.style.paddingBottom = "2px";
      myDiv.style.margin = "3px";
  }*/
}

/*# sourceMappingURL=styles.css.map */
