 @media screen and (max-width: 768px) {


     @font-face {
         font-family: 'Rubik', sans-serif;
         src: url("fonts2/Rubik-Regular.ttf");
     }


     * {
         box-sizing: border-box;
         margin: 0;
         padding: 0;
         font-family: 'Rubik', sans-serif;

     }

     :root {

     }

     body {

        

     }


     main {
       
     }



 }