@media screen and (max-width: 768px) {

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: sans-serif;

    }


    body {
        background: linear-gradient(rgb(198, 179, 179), rgb(192, 255, 214));
    }

    .container {
        height: 100vh;

    }


    #samemood {
        position: absolute;
        bottom: 0;

       
        height: 36%;
        min-height: 26%;
        min-width:270px;
        border-radius: 21%;
        -webkit-box-shadow: inset 2px 2px 33px 20px rgb(0 0 0 / 57%);
        box-shadow: inset 1px 7px 39px 44px rgb(0 0 0 / 60%);
        border: none;
        z-index: 2;
    }

    #samemood:hover {
        cursor: pointer;
    }

    .btn_container {

        display: flex;
        justify-content: center;
    }

    .btn_buffer {
        width: 10%;
    }

    .photo_name-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .pal_photo {
        width: auto;
        height: 20%;
        border: 1px transparent solid;
        object-fit: cover;
        object-position: center center;
        display: none;
    }

    .pal_name {

        font-size: 3rem;
        font-weight: 500;
        text-align: center;
        width: 50%;

    }

    .btn {}

    .speech_bubble {
        position: absolute;
        left: 50%;
        font-family: sans-serif;
        line-height: 44px;
        text-align: center;
        color: #000;
        padding-inline: 2px;

    }

    .speech_bubble-tip {
        border: 2px solid transparent;
    }



}