* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box {
    border: 1px blue solid;

}

.container {
    height: 100vh;
    border: 3px rebeccapurple solid;
}

.btn_container {
    display: flex;
    height: 30%;
}

.btn {

    height: 100%;
    width: 50%;
    font-size: 3rem;
}

.btn:hover {
    cursor: pointer;
    background-color: beige;
}

.collab {
    display: none;
    height: 0%;
    width: 0%;
}

.bro_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid;
}



.fas {
    font-size: 5rem;
    color: rgb(0, 0, 0);
}

.speech_bubble {
    position: absolute;
    background: #00aabb;
    border-radius: 0.4em;
    width: auto;
    top: 38px;
    right: 336px;
}

.speech_bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

.bro_name {
    text-align: center;
    font-size: 3rem;
}

.bubble_container {
    height: 81%;
    width: 100%;
    border: 1px solid;
}